---
import Link from "~/components/link.astro"

type Content =
  | {
      type: "text"
      text: string
    }
  | {
      type: "link"
      text: string
      href: string
    }

function text(text: string): Content {
  return {
    type: "text",
    text: text,
  }
}

function link(text: string, href: string): Content {
  return {
    type: "link",
    href: href,
    text: text,
  }
}

const contents: Content[] = [
  text("This portfolio was developed using "),
  link("Astro", "https://astro.build"),
  text(" and "),
  link("TailwindCSS", "https://tailwindcss.com"),
  text(", "),
  text("featuring a design and content approach inspired by the work of "),
  link("Brittany Chiang", "https://brittanychiang.com"),
  text(", "),
  link("Damian Watracz", "https://watracz.com"),
  text(", "),
  link("Anthony Fu", "https://antfu.me"),
  text(", "),
  link("TK Kinoshita", "https://iamtk.co"),
  text(", "),
  link("Emil Kowalski", "https://emilkowal.ski"),
  text(" and "),
  link("Julia Evans", "https://jvns.ca"),
  text(". "),
  text("The typographic system is derived from the "),
  link(
    "Apple Human Interface Guidelines Typography",
    "https://developer.apple.com/design/human-interface-guidelines/typography",
  ),
  text(" and rendered using the "),
  link("Geist", "https://vercel.com/font"),
  text(" typeface. "),
  text("Source code is fully available on "),
  link("GitHub", "https://github.com/joaoprocopio/joaoprocopio.com"),
  text("."),
]
---

<footer>
  <p class="text-muted-foreground text-xs">
    {
      contents.map((content) => {
        switch (content.type) {
          case "text":
            return <span set:text={content.text} />
          case "link":
            return (
              <Link
                class="text-accent-foreground"
                href={content.href}
                set:text={content.text}
              />
            )
        }
      })
    }
  </p>
</footer>
